.table{
    width: 100%;
    
}
.tbody{
    &-ceil{
        text-align: center;
        border: 1px solid #d4d9e3;
        background-color: #fff;
        &_color{
            &_active,&_fail,&_success{
                width: 100px;
            }
            &_fail,&_success{
                font-weight: 800;
            }
            &_fail{
                color: tomato;
            }
            &_success{
                color: #00c853;
                
            }
        }
    }
}
.thead{
    &-ceil{
        color: #8492af;
        font-weight: 400;
        padding-bottom: 10px;
    }
}
.control-ceil{
    width: 200px;
    padding: 5px 5px;
    &__btn{
       
    }
    &__btns{
        &_admin{
            margin-top: 5px;
        }
    }
    &__track{
        display: flex;
        justify-content: center;
    }
    &__track-link,&__link,&__btn,&__track-btn{
        display: flex;
        justify-content: center;
        width: 90px;
        text-align: center;
        padding: 5px 10px;
        background-color: #5584ff;
        outline: none;
        color: white;
        font-size: 14px;
        border-radius: 5px;
    }
    &__links,&__btns{
        display: flex;
    }
    &__links{
        margin-bottom: 5px;
    }
    &__link,&__btn{
        &:first-child{
            margin-right: 10px;
        }
        &_color{
            &_delete{
                background-color: tomato;
            }
            &_success{
                background-color: #00c853;
            }
        }
    }
}